@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    padding-left: 40px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    text-decoration: none;
    transition: .4s;
}
.sidebar ul li .form-data{
    display: none;
    transition: all .5s ease;
}

.sidebar ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    background: #042331;
}
label #btn{
    left: 0px;
    top: 0px;
    width: 16px;
    font-size: 16px;
    color: white;
    background: rgba(223,19,19);
    padding: 3px 3px 3px 3px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ .user-section{
    margin-left: 250px;
}
#check:checked ~ .nav-header{
    margin-left: 250px;
}
.user-section{
   background:#c2d6d6;
   background-position: center;
   background-size: cover;
   height: 100vh;
   transition: all .5s ease;
}
.user-section .time-box{
    width: 100%;
    height: 20px;
    background: #f1f2f6;
    text-align: right;
   font-size: 16px;
}
.user-section .time-box span{
    padding-right: 15px;
}
.user-section .navHeader{
    background: rgba(0,87,75);
    height: 50px;
    padding-left: 25px;
    padding-right: 15px;
    display: flex;
}
.user-section .navHeader .left{
    width: 35%;
    border: none;
    padding-top: 10px;
}
.user-section .navHeader .left img{
    width: 28px; 
    height: 28px; 
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 10px;
}
.user-section .navHeader .left a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.user-section .navHeader .right{
    width: 65%;
    border: none;
    text-align: end;
}
.user-section .navHeader .right a{
    padding-top: 10px;
}
.user-section .navHeader .right span{
    position: relative;
}
.user-section .navHeader .right span .fa-search{
    font-size: 18px;
    color: #7777;
    right:25px;
    top: 4px;
    cursor: pointer;
    position: absolute;
    z-index: 11;
}
.user-section .navHeader .right span input{
    height: 30px;
    width: 250px;
    padding-left: 7px;
    border-radius: 25px;
    border: none;
    background: #f1f2f6;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: red;
    cursor: pointer;
    transition: .5s ease;
}
.user-section .navHeader .right .fa-bell{
    padding-left: 10px;
    font-size: 20px;
    color: white;
}
.user-section .navHeader .right .fa-cog{
    font-size: 20px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
}

.user-section .navHeader .right span input:hover{
   border: none;
}
.user-section .navHeader .btn .fa-user{
    color: green;
    font-size: 35px;
    padding-top: 5px;
}
.user-section .uni-form{
    background: rgba(255,255,255,.5);
    text-align: center;
}
.user-section .uni-form form{
    background: rgb(255,255,255,.3);
    height: 84vh;
    padding: 20px;
}
.user-section .uni-form form h3{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.user-section .uni-form form div input{
    margin: 7px;
}
.user-section .uni-form form div input[type='text']{
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border: .5px solid #7777;
    background: transparent;
    
}
.user-section .uni-form form div input[type='submit']{
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border: .5px solid #7777;
    background: #00A123;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: .5s;
    
}
.user-section .uni-form form div input[type='submit']:hover{
    background: #00B123;
}
.user-section .uni-form form div input[type='reset']{
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border: .5px solid #7777;
    cursor: pointer;
    font-size: 18px; 
    transition: .5s;
}
.user-section .uni-form form div input[type='reset']:hover{
    background: #00B123;
        color: white;
}








